Import Library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import Image
%matplotlib inline
import seaborn as sns

Load Dataset

In [4]:
%time train_data = pd.read_csv("D:/Folder Mata Kuliah/Semester 7/PBA/Proyek/Dataset/Train.csv", delimiter=',', index_col =0)
%time test_data = pd.read_csv("D:/Folder Mata Kuliah/Semester 7/PBA/Proyek/Dataset/Test.csv", delimiter=',', index_col =0)

Wall time: 18 ms
Wall time: 17 ms

In [9]:
train_data.sample(5)

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics
SongID,,,,,
16,Be Alright,Justin Bieber,191,sad,Across the ocean across the sea Startin' to fo...
4,Bubbly,Colbie Caillat,222,happy,will you come in... I've been awake for a whil...
87,Littlest Things,Lily Allen,186,happy,Sometimes I find myself sittin' back and remin...
38,Do I Have To Cry For You,Nick Carter,218,sad,Don't wanna close the door Don't wanna give up...
12,Angel Of Mine,Monica,251,sad,When I first saw you I already knew There was ...

In [10]:
test_data.sample(5)

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics
SongID,,,,,
99,You Belong To Me,Carla Bruni,185,relaxed,See the pyramids along the Nile Watch the sunr...
37,Polly,Keren Ann,198,sad,I will know as long as I live that it was all ...
97,You Stole,Brand New,360,sad,Last night they said the fire had spread And w...
66,Something Good Can Work,Two Door Cinema Club,193,happy,"There''s a spanner in the works, you know, You..."
12,Manhattan,Sara Bareilles,279,sad,You can have Manhattan I know itâs for the b...

# Data Preprocessing

## 1. Data Cleaning

### Detecting the Missing Value

In [14]:
train_data.isna()

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics
SongID,,,,,
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
5,False,False,False,False,False
...,...,...,...,...,...
96,False,False,False,False,False
97,False,False,False,False,False
98,False,False,False,False,False
99,False,False,False,False,False
100,False,False,False,False,False

In [15]:
test_data.isna()

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics
SongID,,,,,
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
5,False,False,False,False,False
...,...,...,...,...,...
97,False,False,False,False,False
98,False,False,False,False,False
99,False,False,False,False,False
100,False,False,False,False,False
101,False,False,False,False,False

### Summarizing the Missing Value

In [16]:
train_data.isna().sum()

Song Name                      0
Artist's Name                  0
Duration of Music (seconds)    0
Category                       0
Lyrics                         0
dtype: int64

In [17]:
test_data.isna().sum()

Song Name                      0
Artist's Name                  0
Duration of Music (seconds)    0
Category                       0
Lyrics                         0
dtype: int64

Column does not contain Missing Values

## 2. Case Folding

In [19]:
train_data['Lyrics'] = train_data['Lyrics'].str.lower()
test_data['Lyrics'] = test_data['Lyrics'].str.lower()

In [20]:
print(train_data)

                                               Song Name  \
SongID
1                                          All Messed Up
2                                     All Nightmare Long
3                         American Idiot (Album Version)
4                                            Angry Again
5       Annihilation By The Hands Of God (Album Version)
...                                                  ...
96             Over The Rainbow _ What A Wonderful World
97                                          Over The Way
98                                       Paper Aeroplane
99                                             Parachute
100                   Pinocchio Story (Freestyle Live Fr

                Artist's Name  Duration of Music (seconds) Category  \
SongID
1                      Sum 41                          164    angry
2                   Metallica                          477    angry
3                   Green Day                          176    angry
4                    Megadeth                          242    angry
5           Roadrunner United                          333    angry
...                       ...                          ...      ...
96      Israel Kamakawiwo'ole                          295  relaxed
97                     »Æ½¨Îª                          271  relaxed
98                KT Tunstall                          199  relaxed
99                Sean Lennon                          201  relaxed
100                Kanye West                          362  relaxed

                                                   Lyrics
SongID
1       another day wasted out of time i can't get out...
2       crawl from the wreckage one more time horrific...
3       don't wanna be an american idiot.  don't want ...
4       the more of you that i inspect the more of me ...
5       the prophets of god have left you solaced inde...
...                                                   ...
96      over the rainbow what a wonderful world "orion...
97      the sunshineâs come, the flowers dance along...
98      this stone that i have swallowed isn't goin do...
99      love is like an aero plane you jump and then y...
100     wise men say wise men say wise men say the bad...

[400 rows x 5 columns]

In [21]:
print(test_data)

                     Song Name           Artist's Name  \
SongID
1             'Till I Collapse                  Eminem
2                   25 To Life                  Eminem
3               A Century Ends              David Gray
4                      A N I C                  Sum 41
5                     Rain Man                  Eminem
...                        ...                     ...
97                         You             chris young
98         You Are My Sunshine             Carly Simon
99            You Belong To Me             Carla Bruni
100           You Belong To Me              Jason Wade
101     You Took My Heart Away  Michael Learns To Rock

        Duration of Music (seconds) Category  \
SongID
1                               299    angry
2                               644    angry
3                               308    angry
4                                41    angry
5                               320    angry
...                             ...      ...
97                              164  relaxed
98                              156  relaxed
99                              185  relaxed
100                             165  relaxed
101                             274  relaxed

                                                   Lyrics
SongID
1       sometimes you just feel tired, feel weak when ...
2       too late for the other side caught in a change...
3       cast your eyes into the distance try to focus ...
4       look like ass, smell like shit why are you suc...
5       you find me offensive i find you offensive for...
...                                                   ...
97      the bluest skies don't seem so blue and the st...
98      you are my sunshine, my only sunshine you make...
99      see the pyramids along the nile watch the sunr...
100     see the pyramids along the nile watch the sun ...
101     staring at the moon so blue turning all my tho...

[378 rows x 5 columns]